[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
django-extensions = "*"
gunicorn = "*"
python-decouple = "*"
dj-database-url = "*"
celery = {extras = ["redis"]}
celery-redbeat = "*"
whitenoise = "*"
"psycopg2" = "*"


[dev-packages]

"fabric3" = "*"
ipdb = "*"
ipython = "*"
